<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kalories.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>085BF6E31D8DF51600B44973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>085BF6F71D8DF51600B44973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>085BF7021D8DF51600B44973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
